
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

footer {
  font-size: 33pt;
  color:rgba(0,0,0,0.5);
  font-family: 'Faster One', cursive;
}

footer:hover {

  color:rgba(0,0,0,1);

}

.page-content{
  min-height: 500px;
}